<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome-Merchant</title>
</head>
<body>
<table width="630" border="0" cellpadding="0" align="center" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; width:630px; margin:0px auto;">
  <tr>
    <td width="500" align="left">
      Greetings #registrant#,
    <br>
    <br>
    <br>

Welcome to the Munch Ado platform. We're really excited to have you on board and wanted to thank you immediately for joining us. As we're sure you know, registration is just the first step you and your restaurant will take towards fulfilling your Munch Ado potential.
<br>
<br>

A representative from our lovely team will be in touch with you shortly to complete the process. He or she will walk you through the setup phase and help you create your personal username and password.
<br>
<br><br>

-Munch Ado

    </td>
  </tr>
  
</table>
</body>
</html>