<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome</title>
</head>
<body>
<!-- ***************Start Header***************** -->
<table width="630" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; width:630px; margin:0px auto;">
  <tr>
    <td width="500" align="right">Follow Us</td>
    <td width="29" align="right"><a href="http://blog.munchado.com" target="_blank"><img src="#template_img_path#blog_icon.jpg" alt="Blog icon" width="20" height="20" border="0"></a></td>
    <td width="25" align="right"><a target="_blank" href="https://www.facebook.com/munchado"><img src="#template_img_path#fb_icon.jpg" alt="Fb Icon" width="20" height="20" border="0"></a></td>
    <td width="25" align="right"><a target="_blank" href="https://twitter.com/Munch_Ado"><img src="#template_img_path#twiter_icon.jpg" alt="Twitter Icon" width="20" height="20" border="0"></a></td>
    <td width="25" align="right"><a target="_blank" href="http://pinterest.com/munchado/"><img src="#template_img_path#pin_icon.jpg" alt="Pin Interest Icon" width="20" height="20" border="0"></a></td>
    <td width="26" style="padding-right:3px;"><a href="https://plus.google.com/b/106525625756971589805/106525625756971589805/posts"><img src="#template_img_path#gplus.jpg" alt="Email Icon" width="20" height="20" hspace="0" border="0" align="right"></a></td>
  </tr>
  <tr>
    <td colspan="6" height="10"></td>
  </tr>
</table>
<table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ff8208" style="min-width:630px; margin:0px auto;border-top:23px solid #404040;border-bottom: 15px solid #fff;">
	<tr>
    	<td>
        	<table width="630" border="0" cellpadding="0" cellspacing="0" bgcolor="#ff8208" style="margin:0px auto;" align="center" >
  <tr>
     <td width="453" style="padding-top:4px;"><a href="#site_url#" target="_blank" style="padding-left:3px;"><img style="margin-top:-23px; margin-bottom:-15px" src="#template_img_path#emailer-logo.gif" width="282" height="96" border="0" /></a> </td>
    <td width="73" align="right" valign="middle"></td>
    <td width="80" align="right" valign="middle" style="padding-right:3px;"></td>
  </tr>
</table>

      </td>
    </tr>
</table>
<!-- ***************End Header***************** -->

<!-- ***************Start content***************** -->
<table style="width:630px;font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:20px;color:#666666; width:630px; margin:0px auto;" border="0" cellpadding="0" cellspacing="0" align="center" width="630">
  <tr>
    <td><br>
      A restaurant owner has signed up on www.munchado.biz. Following are the details:
      <br>
      Fee structure: #fee#
      <br>
      #restaurant_name#
      <br>
      #address#
      <br>
      #website#
      <br>
      #phone#
      <br>
      #email#
      <br><br>
      
      </p>
      <table width="630" border="0" cellspacing="0" cellpadding="0" style="margin-top:15px; margin-bottom:10px;">
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
         
          <td width="596" style="font-size:13px;"></td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
      </table>
    
      <br></td>
  </tr>
</table>
<!-- ***************End content***************** -->

<!-- ***************Start Footer***************** -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ececed">
    <tr>
        <td>
        	<table width="630" align="center" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#666666;width:630px; margin:0px auto;">
  <tr>
    <td colspan="2"><img src="#template_img_path#Dottedborder.gif" width="630" height="1" alt="Dotted Border"></td>
  </tr>
  <tr>
    <td colspan="2" height="15"></td>
  </tr>
  <!--<tr>
    <td width="275" height="23"><img src="#template_img_path#footer_hb_logo.png" width="101" height="14" alt="Munch Ado Footer Logo"></td>
    <td width="355" align="right"><a style="color:#ff8208; text-decoration:none;" href="#"><strong>Invite Friends to Join Munch Ado</strong></a></td>
  </tr>-->
  <tr>
    <td width="275">245 5th Avenue Suite 1002, New York, NY 10016</td>
    <td width="355" align="right"></td>
  </tr>

    <td colspan="3">Copyright 2013. Munch Ado LLC. All rights reserved.</br></br></td>
  </tr>
  <tr>
    <td colspan="2" height="5"></td>
  </tr>
  

</table>
        </td>
    </tr>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#45484a">
	<tr>
    	<td>
        	<table width="630" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#45484a" style="font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;width:630px; margin:0px auto;">
  <tr>
    <td height="15"></td>
  </tr>
  <tr>
    <td> To make sure our email updates are delivered to your inbox, please add <a style="color:#ff8208; text-decoration:none;" href="mailto:grow@munchado.biz"><strong>grow@munchado.biz</strong></a> to your email Address Book.<br>
<br>
</td>
  </tr>
</table>
        </td>
    </tr>

</table>
<!-- ***************End Footer***************** -->

</body>
</html>
